<!-- <p>note works!</p> -->
<div class="box" (mouseenter)="showIcons()" (mouseleave)="hideIcons()">
    <div class="container">
        <div>
            <h2> {{note.title}} <mat-icon color="primary">arrow_circle_up</mat-icon>
            </h2>
        </div>
        <div>
            <p>{{note.reminderDate}}</p>
        </div>
        <div>
            <p> {{note.content}} </p>
        </div>
        <div>
            <p> {{note.category}} </p>
        </div>
        <div *ngIf="icons" class="icon">

            <mat-icon color="primary">edit</mat-icon>
            <mat-icon color="primary">delete</mat-icon>
            <mat-icon color="white">notifications</mat-icon>
        </div>
    </div>
</div>